/* Postojeći CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 5px 0;
  width: 100%;
}

.nav-left, .nav-right, .nav-center {
  display: flex;
  align-items: center;
}

.nav-left .username-text {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: rgb(34, 255, 0); /* Plava boja */
  margin-left: 20px;
}

.nav-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-center button {
  background: none;
  border: none;
  color: yellow; /* Zlatna boja */
  font-size: 20px;
  margin: 0 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  text-align: center;
  flex: 1;
}

.nav-center button:hover {
  background-color: #0056b3;
  color: white;
  border-radius: 5px;
}

.button-logout {
  background: none;
  border: none;
  color: #dc3545; /* Crvena boja */
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
  padding: 10px 20px;
}

.button-logout:hover {
  background-color: red; /* Tamnocrvena boja */
  color: white;
  border-radius: 0px;
  border: 0px solid #FF0000;
}

.custom-style {
  font-size: 24px;
  margin: 20px 0;
  text-align: left;
  padding-left: 30px;
}

.customProfile-div {
  font-weight: bold;
  margin-bottom: 5px;
}

.customView-div {
  margin-bottom: 20px;
}

.customProfile-hr {
  margin: 0 0 20px 0;
}

.edit-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.edit-button:hover {
  background: #0056b3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Poluprovidna crna pozadina */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Da bude iznad svih ostalih elemenata */
}

.trip-status {
  font-size: 48px;
  color: green;
}

.nav-left {
  display: flex;
  flex-direction: column; /* Poruke će biti ispod username-a */
}

.status-message {
  color: red;
  font-size: 16px;
  margin-top: 5px;
  text-align: left;
  margin-left: 20px;
}

