body {
  font-family: 'Arial', sans-serif;
  background: url('/public/Images/Pozadina.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #007BFF; /* Promenjena boja naslova */
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 5rem; /* Adjusting for fixed header */
  padding-bottom: 3rem; /* Adjusting for fixed footer */
}

.login-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: -3rem; /* Adjusting for fixed header */
}

.login-form {
  max-width: 400px;
  margin: auto;
}

.form-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.input-field {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-field:focus {
  outline: none;
  border-color: #007BFF;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.signup-link {
  margin-top: 1rem;
}

.register-link {
  color: #007BFF;
  font-weight: bold;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}
